:host {
  background: white;
  border-radius: 0.5rem;
  display: block;
  filter: drop-shadow(0 2px 16px rgba(0, 0, 0, 0.18));
  font-size: 90%;
  max-width: 90vw;
  max-height: 90vh;
  box-sizing: border-box;
  overflow: auto;
}

dl {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}
