<div class="container">

      <h3>{{ playerDetails.name }}</h3>
      <p>{{ playerDetails.description }}</p>
      <dl>
            <div>
                  <dt>
                        Games Played
                  </dt>
                  <dd>
                        {{ playerDetails.games | number }}
                  </dd>
            </div>
            <div>
                  <dt>
                        Points Scored
                  </dt>
                  <dd>
                        {{ playerDetails.points | number }}
                  </dd>
            </div>
            <div>
                  <dt>
                        Field Goal Percentage
                  </dt>
                  <dd>
                        {{ playerDetails.fieldGoalPercentage | percent:'.1' }}
                  </dd>
            </div>
            <div>
                  <dt>
                        Three Point Percentage
                  </dt>
                  <dd>
                        {{ playerDetails.threePointPercentage | percent:'.1' }}
                  </dd>
            </div>
      </dl>
</div>