<img (click)="viewPhoto()" [src]="'/assets/' + player.imageName + '.avif'" width="1040" height="760"
      [alt]="player.name" />
<h2>{{ player.name }}</h2>
<dl>
      <div>
            <dt>
                  GP
            </dt>
            <dd>
                  {{ player.games | number }}
            </dd>
      </div>
      <div>
            <dt>
                  PTS
            </dt>
            <dd>
                  {{ player.points | number }}
            </dd>
      </div>
      <div>
            <dt>
                  FG%
            </dt>
            <dd>
                  {{ player.fieldGoalPercentage | percent:'.1' }}
            </dd>
      </div>
      <div>
            <dt>
                  3P%
            </dt>
            <dd>
                  {{ player.threePointPercentage | percent:'.1' }}
            </dd>
      </div>
</dl>




<!-- 1. Simple Globally Positioned Overlay -->
<!-- View Photo Modal -->
<ng-template #photoPortal>
      <app-view-photo [photoUrl]="'/assets/' + player.imageName + '.avif'"></app-view-photo>
</ng-template>


<!-- 3. Simple Connected Position Overlay -->
<button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="detailsOpen = !detailsOpen" [class.open]="detailsOpen"
      title="Player Details">
      &#8942;
      <span class="cdk-visually-hidden">
            Player Details
      </span>
</button>
@if (detailsOpen) {
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="detailsOpen"
      cdkConnectedOverlayWidth="60%" cdkConnectedOverlayWidth="500px"
      (overlayOutsideClick)="detailsOpen = false; $event.stopPropagation()">
      <app-player-details [close]="detailsOpen" [playerDetails]="player">
      </app-player-details>
</ng-template>

}