<div class="player-card">

      <div class="image-container" (click)="viewPhoto()">
            <img [src]="'/assets/' + player.imageName + '.avif'" [alt]="player.name" width="1040" height="760" />
      </div>

      <div class="player-info">
            <h2>{{ player.name }}</h2>
            <dl class="stats-grid">
                  <div>
                        <dt>GP</dt>
                        <dd>{{ player.games | number }}</dd>
                  </div>
                  <div>
                        <dt>PTS</dt>
                        <dd>{{ player.points | number }}</dd>
                  </div>
                  <div>
                        <dt>FG%</dt>
                        <dd>{{ player.fieldGoalPercentage | percent:'.1' }}</dd>
                  </div>
                  <div>
                        <dt>3P%</dt>
                        <dd>{{ player.threePointPercentage | percent:'.1' }}</dd>
                  </div>
            </dl>
      </div>

      <!-- Overlay Trigger Button -->
      <button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="handleDetailsOpen()" [class.open]="detailsOpen()"
            title="Player Details">
            <fa-icon [icon]="infoIcon" />
            <span class="cdk-visually-hidden">Player Details</span>
      </button>

      <!-- Connected Overlay Panel -->
      @if (detailsOpen()) {
      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="detailsOpen()"
            cdkConnectedOverlayWidth="500px" (overlayOutsideClick)="detailsOpen.set(false)">
            <app-player-details [playerDetails]="player"></app-player-details>
      </ng-template>
      }

      <!-- Photo Modal -->
      <ng-template #photoPortal>
            <app-view-photo [photoUrl]="'/assets/' + player.imageName + '.avif'"></app-view-photo>
      </ng-template>
</div>