<main>
  <!-- dark / light mode toggle -->
  <section class="theme-toggle">
    <button (click)="theme.set('light')" [class.active]="theme() === 'light'">
      <fa-icon [icon]="lightIcon" />
    </button>
    <button (click)="theme.set('dark')" [class.active]="theme() === 'dark'">
      <fa-icon [icon]="darkIcon" />
    </button>
  </section>


  <!-- search players -->
  @let players = playerService.players$ | async;
  <section class="search-section">
    <label for="search">Search Players</label>
    <input type="search" id="search" autocomplete="off" [(ngModel)]="searchText"
      placeholder="Search by entering a player name" />
  </section>

  <div class="player-grid">
    @if (players) {
    @for (player of players | filter: searchText(); track player.name) {
    <app-player [player]="player" />
    } @empty {
    <p class="empty-state">Sorry, we couldn't find any players with the name you entered</p>
    }
    }
  </div>

</main>